html,
body{
    background: var(--coloreBg , #444);
}

body{
    padding-bottom:60px; /*stessa altezza del footer per evitare sovrapposizione di contenuti */
    color: var(--textColor, white);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: var(--colore1, grey);
    line-height: 60px; /* stessa altezza della height per centrare verticalmente*/
    color:#333;
}




:root{
    --coloreBg: #63414E;
}
body{
    --colore1 : #85D02F;
    --textColor: #FEFEFE;
}

nav.navbar.bg-light {
    background-color: var(--colore1, grey) !important;

}


a,
a:visited,
a:active,
a:hover{
    color: lawngreen;
}
a:hover{
    color:var(--coloreBg, white);
    background: lawngreen;
    text-decoration: none;
}

