<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">./</Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MMM-dd HH:mm:ss a} [%t] %logger{36} - %msg%n" />
        </Console>
        <!-- File Appender -->
        <File name="File" fileName="${log-path}app.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MMM-dd HH:mm:ss a} [%t] %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="it.nextre.academy" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>
        <logger name="org.springframework" level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </logger>
    </Loggers>
    <root level="error">
        <appenderRef ref="Console" />
        <AppenderRef ref="File" />
    </root>
</Configuration>